
@{
    ViewBag.Title = "Loading";
}

<h1>Cargar productos a base de datos</h1>


<form id="..." name="..." action="/Home/Loading" method="get">
    <button type="submit">Cargar productos</button>
</form>



